<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= file.name %></title>
  </head>
  <body>
    <h1><%= file.name %></h1>

    <p>Size: <%= (file.size / 1024).toFixed(2) %> KB</p>
    <p>Uploaded: <%= file.uploadedAt.toDateString() %></p>

    <a href="/files/<%= file.id %>/download">Download</a>

    <a href="/files">Back to Files</a>
  </body>
</html>
