<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>

    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <ul style="color: red">
      <% errors.forEach(err => { %>
      <li><%= err.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <form action="/auth/signup" method="POST">
      <input
        type="text"
        name="firstName"
        placeholder="First Name"
        value="<%= locals.oldInput ? oldInput.firstName || '' : '' %>"
      />
      <input
        type="text"
        name="lastName"
        placeholder="Last Name"
        value="<%= locals.oldInput ? oldInput.lastName || '' : '' %>"
      />
      <input
        type="text"
        name="username"
        placeholder="Username"
        value="<%= locals.oldInput ? oldInput.username || '' : '' %>"
        required
      />
      <input
        type="email"
        name="email"
        placeholder="Email"
        value="<%= locals.oldInput ? oldInput.email || '' : '' %>"
        required
      />
      <input type="password" name="password" placeholder="Password" required />
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        required
      />
      <button type="submit">Sign Up</button>
    </form>

    <a href="/auth/login">Already have an account? Login</a>
  </body>
</html>
